# {{ ansible_managed }}

#### Contents of the preconfiguration file (for squeeze)
### Localization
d-i debian-installer/locale string en_US

# The values can also be preseeded individually for greater flexibility.

# Keyboard selection.
# Disable automatic (interactive) keymap detection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us

### Network configuration
# Disable network configuration entirely. This is useful for cdrom
# installations on non-networked devices where the network questions,
# warning and long timeouts are a nuisance.

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string {{ domain_name }}
d-i netcfg/wireless_wep string

### Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
{% if (enable_apt_caching is defined and enable_apt_caching) and apt_cacher_server is defined %}
d-i mirror/http/proxy string http://{{ apt_cacher_server }}:{{ apt_cacher_ng_port|default(3142) }}
{% endif %}
{% if (enable_apt_caching is defined and not enable_apt_caching) or enable_apt_caching is not defined %}
d-i mirror/http/proxy string
{% endif %}

### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string US/Eastern

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean false
d-i partman-lvm/confirm_nooverwrite boolean true

# For LVM partitioning, you can select how much of the volume group to use
# for logical volumes.
d-i partman-auto-lvm/guided_size string max

# You can choose one of the three predefined partitioning recipes:
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /usr, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Account setup
d-i passwd/root-login boolean true
{% if (tftp_preseed_create_users is defined and not tftp_preseed_create_users) or tftp_preseed_create_users is not defined %}
d-i passwd/make-user boolean false
{% endif %}
{% if (tftp_preseed_create_users is defined and tftp_preseed_create_users) %}
{%   if create_users is defined %}
{%     for item in create_users %}
#d-i passwd/make-user boolean false
{%       if item.comment is defined %}
d-i passwd/user-fullname string {{ item.comment }}
{%       endif %}
{%       if item.comment is not defined %}
d-i passwd/user-fullname string {{ item.user }}
{%       endif %}
d-i passwd/username string {{ item.user }}
{%       if tftp_preseed_users_encrypted_pw is defined and not tftp_preseed_users_encrypted_pw %}
d-i passwd/user-password password {{ item.password }}
d-i passwd/user-password-again password {{ item.password }}
{%       endif %}
{%       if tftp_preseed_users_encrypted_pw is defined and tftp_preseed_users_encrypted_pw %}
d-i passwd/user-password-crypted password {{ item.password }}
{%       endif %}
{%     endfor %}
d-i user-setup/allow-password-weak boolean true
{%   endif %}
{% endif %}

# Root password, either in clear text or encrypted...encrypted is default
d-i passwd/root-password-crypted password {{ root_password }}

# Set to true if you want to encrypt the first user's home directory.
d-i user-setup/encrypt-home boolean false

### Apt setup
#d-i apt-setup/local0/repository string http://mirrors.kernel.org/ubuntu trusty main

### Package selection
tasksel tasksel/first mulitselect standard

# Individual additional packages to install
d-i pkgsel/include string openssh-server open-vm-tools

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### X configuration
xserver-xorg xserver-xorg/autodetect_monitor boolean true
xserver-xorg xserver-xorg/config/monitor/selection-method \
       select medium
xserver-xorg xserver-xorg/config/monitor/mode-list \
       select 1024x768 @ 60 Hz

### Preseeding other packages

#### Advanced options
d-i preseed/late_command string \
{% if (tftp_preseed_create_users is defined and tftp_preseed_create_users) %}
{%   if create_users is defined %}
{%     for item in create_users %}
{%       if item.sudo is defined and item.sudo %}
    echo "{{ item.user }}	ALL=(ALL) NOPASSWD:ALL">>/target/etc/sudoers; \
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
    in-target sed -i 's/PermitRootLogin without-password/PermitRootLogin yes/g' /etc/ssh/sshd_config;
